db:
  storage: 2Gi
  username: mysql
  password: mysql
  reuse: true
  release: 5.6
  resources:
    requests:
      memory: 64Mi
      cpu: 250m
    limits:
      memory: 128Mi
      cpu: 500m

logger:
  replicas: 1
  release: v0.1.0
      
master:
  replicas: 1
  release: v0.1.0

controller:
  release: v0.1.0

api:
  release: v0.1.0
  replicas: 1
  ingress:
    class: nginx
    host: false # api host without protocol
    tls: false # tls secret name in the same namespace
  username: admin@sms.dev
  password: admin

ui:
  release: v0.1.0
  ingress:
    class: nginx
    host: false # ui host without protocol
    tls: false # tls secret name in the same namespace
  replicas: 1

processor:  
  release: v0.1.0
  schedule: "*/5 * * * *"
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1