apiVersion: apps/v1
kind: Deployment
metadata:
  name: logger
  labels:
    {{- include "labels" . | nindent 4 }}
    run: logger 
spec:
  selector:
    matchLabels:
      run: logger
  replicas: {{ .Values.logger.replicas }}
  template:
    metadata:
      labels:
        {{- include "labels" . | nindent 8 }}
        run: logger 
    spec:
      containers:
        - name: logger
          image: medinvention/fluentd-armhf
          command: ['fluentd', '-c', '/fluentd/etc/smsfluentd.conf']
          ports:
            - containerPort: 5140
          volumeMounts:
            - name: config-volume
              mountPath: /fluentd/etc/smsfluentd.conf
              subPath: fluentd
      volumes:
        - name: config-volume
          configMap:
            name: sms-config